*, html{
   margin: 0px;
   padding: 0px;
 
}
/* empesamos con lo que esta en  que l decimos que 50% centrada y 0% de top, no se repite y tendra o estara fixed =fijo*/
#home{
    background: url(../../img/001.jpg) 50% 0% no-repeat fixed;

}

#seccion2{
    text-align: center;
    background: url(../../img/002.jpg) 50% 0% no-repeat fixed;
}

/* estos comparten las mismas propiedades*/
#home, #seccion2,section#principal {
   
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;s
    -o-background-size: cover;
    
}
#seccion2,{
box-shadow: 0, 0, 20px rgba(0,0,0,0.4)
-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 20px rgba(0,0,0,0.4);
-o-box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

 article{
    padding: 300px;
 }

