@media(max-width: 1190px){
	#vistaAdminIndex {
    width: 97.5%;
}
    article {
    position: relative;
    display:block;
    font-size: 2em;
    top: -1em;
    text-align: center;
    align-content: center;
}
    #contenedor2 {
    width: 90%;
    margin-right: 50px;
    margin-bottom: 50px;
    float: right;
    border-radius: 15px;
    height: 700px;
}
    .notificacionesClass { /* Es el que contiene el usuario y el mensaje */
   
    display: -webkit-inline-box;
    
        
}
    .sectionChat{
        position: relative;
        width: 10000%;
    }
    .datosUsuario{
        position: relative;
        width: 90%;
        font-size: 20px;
    }
    #notificacionesId {/* Es para el mensaje */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: .5em;
    width: 120px;
}

}
@media(max-width: 1039px){
	#vistaAdminIndex {
    width: 97.5%;
}
    article {
   
    display:block;
    
}
    #contenedor2 {
    width: 97%;
    margin-right: 5px;
        margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
    .sectionChat{
        position: relative;
        width: 100%;
    }
    .notificacionesClass { /* Es el que contiene el usuario y el mensaje */
   
    display: -webkit-inline-box;
    
        
}
.menu{
position: relative;
    left: 200;
    top: 200;
    }
    section{
        height: 1200px;
    }
    #notificacionesId {/* Es para el mensaje */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: .5em;
    width: 120px;
}
    #salir{
        left: 17em;
    }

}
@media(max-width: 800px){
	#vistaAdminIndex {
    width: 97.5%;
}
#photo{
    display: none;
}
  .sectionChat{
        position: relative;
        width: 300%;
    }
    section{
        height: 1150px;
    }
    #bienvenidoAdmin{
        margin-bottom: 40x;
        font-size: 20px;
    }
    #notificacionesId {/* Es para el mensaje */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: .5em;
    width: 120px;
}
    

}





@media(max-width: 400px){
	#vistaAdminIndex {
        position: relative;
        left: 100px;
       width: 95%;
} 
    .sectionChat{
        position: relative;
        width: 100%;
    }
    section{
        position: relative;
        height: 2000px;
        width: 100%;
        left: -6em;
    }
    #notificacionesId {/* Es para el mensaje */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    font-size: .5em;
    width: 120px;
}

}
@media(max-width: 900px){
    
    #divSamsumg{
        display: none;
    }
    #salir-admin{
       position: static;
    }
}
@media(max-width: 500px){
    #divLogo{
       display: none;
    }
}
@media(max-width: 900px){
    
    #divSamsumg{
        display: none;
    }
    #divNew{
       position: static;
    }
}
@media(max-width: 500px){
    #divLogo{
       display: none;
    }
}
