@media(max-width: 1120px){
  aside{
      position: relative;
  width: 95%;
    top: 6.5em;
  }
  .datosUsuario {
   position: relative;
   margin-left: 35%;
    
}
    h2{
    margin-left: 35%;
    }
    #menu{
    position: relative;
    top: -35em;
    }
    #contenedorUser{
    width: 85%;
        position: relative;
        margin-top:  -7em;
    
    }
}
@media(max-width: 950px){
 li{
 width: 100%;
     padding: 2px;
 }
     aside{
    top: 16.5em;
  }
    .datosUsuario {
   
   margin-left: 25%;
    
}
    h2{
    margin-left: 25%;
    }
    
}
@media(max-width: 900px){
    
    #divSamsumg{
        display: none;
    }
    #divNew{
       position: static;
    }
}
@media(max-width: 600px){
 .datosUsuario {
   
   margin-left: 15%;
    
}
    h2{
    margin-left: 15%;
    }
  #contenedorUser{
    width: 80%;
        position: relative;
        margin-left: 3.5%;
    }   
}
    

@media(max-width: 500px){
    #divLogo{
       display: none;
        
    }
    #menu{
    width: 100%;
    }
    
}
@media(max-width: 290px){
    
    ul{
    font-size: 15px;
    }
    #contenedorUser{
        margin-left: 1.5%;
    } 
    h1{
    margin-left: 17%;
    }
}