@media(max-width: 900px){
#menu{
display: -moz-inline-grid;
    height: 16.5em;
    width: 100%;
}
    
li{
   width: 100%;
    margin-bottom: 1em;
}
#tituloContenedor{
    font-size: 25px;
}
#photo{
    width: 12%;
}
    #notificacionesId{
    width: 80px;
    height: 60px;
    }
}
@media(max-width: 610px){
 #notificacionesId{
   display: inline-block;
     width: 90%;
     height: 40px;
}  
#tituloContenedor{
    font-size: 130%;
}
    #contenedor2{
    
     margin-right: 2%;
     width: 95%;
 }
    
}
@media(max-width: 500px){
 #contenedor2{
    
     margin-right: 2%;
     width: 95%;
 }
#photo{
    width: 30%;
    margin-left: 25%;
}
    #tituloContenedor{
    margin-left: -5%;
}
    
}
@media(max-width: 900px){
    
    #divSamsumg{
        display: none;
    }
    #divNew{
       position: static;
    }
}
@media(max-width: 500px){
    #divLogo{
       display: none;
    }
}